name: Build Application
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux-x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install System Dependencies (Tkinter)
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-tk

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --windowed --onefile --collect-all customtkinter --name MKVToolSuite main.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MKVToolSuite-Linux-x86_64
        path: dist/MKVToolSuite

  build-linux-aarch64:
    runs-on: ubuntu-latest
    name: Build Linux aarch64
    steps:
      - uses: actions/checkout@v4

      - name: Build on aarch64
        uses: uraimo/run-on-arch-action@v2
        id: build
        with:
          arch: aarch64
          distro: ubuntu22.04
          githubToken: ${{ github.token }}
          install: |
            apt-get update
            apt-get install -y python3 python3-pip python3-tk python3-venv git
          run: |
            python3 -m venv venv
            source venv/bin/activate
            pip install --upgrade pip
            pip install -r requirements.txt
            pip install pyinstaller
            pyinstaller --windowed --onefile --collect-all customtkinter --name MKVToolSuite main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MKVToolSuite-Linux-aarch64
          path: dist/MKVToolSuite
